<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="qqqqqqqq.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="qqqqqqqq.Properties.Settings.CAFEConnectionString"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=CAFE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="qqqqqqqq.Properties.Settings.CAFE_netConnectionString"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=CAFE.net;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="qqqqqqqq.Properties.Settings.CAFE_netConnectionString1"
            connectionString="Data Source=DESKTOP-T1V9H4L\SQLEXPRESS;Initial Catalog=CAFE.net;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="qqqqqqqq.Properties.Settings.CAFE_netConnectionString2"
            connectionString="Data Source=DESKTOP-AVAEUFC;Initial Catalog=CAFE.net;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <qqqqqqqq.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showCreateNv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="load" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chucvu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tencv" serializeAs="String">
                <value />
            </setting>
            <setting name="idban" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idhoadon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idthucdon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soluong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idct" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tennhanvien" serializeAs="String">
                <value />
            </setting>
            <setting name="maca" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmndca" serializeAs="String">
                <value />
            </setting>
            <setting name="cmndthuongphat" serializeAs="String">
                <value />
            </setting>
            <setting name="ngaythuongphat" serializeAs="String">
                <value />
            </setting>
            <setting name="lydo" serializeAs="String">
                <value />
            </setting>
            <setting name="tien" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="macaCa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="macv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="phache_thucdon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reportMAHD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="themban_" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="themnv_" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="phache_" serializeAs="String">
                <value>True</value>
            </setting>
        </qqqqqqqq.Properties.Settings>
    </userSettings>
</configuration>